[submodule "API_Gateway"]
    path = API_Gateway
    url = https://github.com/Application-Web-Distribution-Project/Api-Gateway.git

[submodule "Eureka-Server"]
    path = Eureka-Server
    url = https://github.com/Application-Web-Distribution-Project/Eureka-Server.git

[submodule "Reclamation_Service"]
    path = Reclamation_Service
    url = https://github.com/Application-Web-Distribution-Project/Reclamation_Service.git

[submodule "Front-End"]
    path = Front-End
    url = https://github.com/Application-Web-Distribution-Project/Front-End.git

[submodule "Commandes_Service"]
    path = Commandes_Service
    url = https://github.com/Application-Web-Distribution-Project/Commandes_Service.git

[submodule "Config-Server"]
    path = Config-Server
    url = https://github.com/Application-Web-Distribution-Project/Config_Server.git

[submodule "User_Service"]
    path = User_Service
    url = https://github.com/Application-Web-Distribution-Project/User_Service.git
[submodule "Menu_Service"]
    path = Menu_Service
    url = https://github.com/Application-Web-Distribution-Project/Menu_Service.git